django-split-settings
django-stronghold
git+https://github.com/jazzband/django-revproxy.git
keystoneauth1
python-keystoneclient
python-heatclient
python-novaclient
python-neutronclient
python-glanceclient
pymemcache
